{% extends 'base.html.twig' %}

{% block title %}Nouvel Episode{% endblock %}

{% block body %}
    <h1>Ajouter un nouvel épisode</h1>

    {{ include('components/_form.html.twig') }}

    <a href="{{ path('episode_index') }}">back to list</a>
{% endblock %}
