{% extends 'base.html.twig' %}
{% block body %}
<h1>Ajoutez une nouvelle série</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button>Ajouter un programme</button>
    {{ form_end(form) }}

{% endblock %}