{% extends 'base.html.twig' %}
{% block title %}Série #{{ program.id }}{% endblock %}
{% block body %}
    <div>
        {% for season in seasons %}
            <h1>{{ season.description }}</h1>
        <a href="{{ path('program_app_program_showseason', {'programId': program.id, 'seasonId': season.id}) }}">Voir la fiche</a>
        {% endfor %}
    </div>

    <a href="{{ path('program_index') }}">
        Retour à la liste des programmes
    </a>
{% endblock %}